<!DOCTYPE html>
<html>
	<head>
		<title>Nayon's blog</title>
	</head>
	<body>
		<div>
		    <h1><a href="/">Django Girls Blog</a></h1>
		</div>

		{% for post in posts %}
		    <div>
		        <p>published: {{ post.published_date }}</p>
		        <h1><a href="">{{ post.title }}</a></h1>
		        <p>{{ post.text|linebreaksbr }}</p>
		    </div>
		{% endfor %}

		<div>
			<p>published: 19.07.2018, 12:14</p>
			<h2><a href="">My second post</a></h2>
			<p>This is my second post, Hello world</p>
		</div>
	</body>
</html>